nav {
    background-image: linear-gradient(to bottom left, #7F7FD5,
            #86a8e7, #91eae4);
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: 500;

}

nav a:hover {
    background-image: linear-gradient();
}